<div class="relative h-screen w-full flex">
  <div class="relative h-screen w-full">
    <header class="w-full h-24 flex justify items-center p-4">
      <p-autoComplete
        class="w-full"
        styleClass="h-16 w-full"
        inputStyleClass="h-full w-full border-0 border-b rounded-none outline-none"
        [suggestions]="people"
        placeholder="Pincha aquí para buscar"
      ></p-autoComplete>
    </header>
    <div class="p-4 flex h-full w-full flex-wrap gap-4 justify-around">
      <app-person-card
        *ngFor="let person of people"
        (click)="onSelectPerson(person)"
        [person]="person"
      ></app-person-card>
    </div>
  </div>
  <aside
    class="relative h-screen w-0 shadow duration-300"
    [ngClass]="{ 'w-1/3': selectedPerson }"
  >
    <app-person-details [person]="selectedPerson"> </app-person-details>
  </aside>
</div>
