<div class="relative overflow-hidden h-screen w-screen">
  <div class="absolute top-4 left-6 shadow z-10 flex">
    <p-dropdown
      class="h-16 w-44"
      styleClass="border-0 h-full w-full items-center"
      [options]="familyTopsToDisplay"
      [(ngModel)]="selectedTop"
      optionLabel="familyName"
    ></p-dropdown>
    <div class="h-16 w-px bg-gray-100"></div>
    <p-autoComplete
      class="w-96"
      styleClass="h-16 w-full"
      inputStyleClass="h-full w-full border-0 rounded-none outline-none"
      [suggestions]="filteredPeople"
      (completeMethod)="onSearch($event)"
      (onSelect)="onSelectPerson($event)"
      [forceSelection]="true"
      field="fullname"
      dataKey="id"
      placeholder="Pincha aquí para buscar"
    >
      <ng-template let-person pTemplate="item">
        <div class="flex justify-between">
          <p><span></span>{{ person.fullname | titlecase }}</p>
          <p class="text-right text-gray-300">F. {{ person.familyName }}</p>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <aside
    [ngClass]="{ '-right-1/4': !selectedPerson }"
    class="absolute h-screen right-4 top-0 p-4 w-1/4 duration-300 z-10 flex"
  >
    <div class="shadow h-full bg-white w-full rounded">
      <router-outlet></router-outlet>
    </div>
  </aside>
  <div
    id="diagram-canvas"
    class="flex h-screen w-screen overflow-scroll p-24"
    *ngIf="selectedTop"
  >
    <app-family-diagram [personId]="selectedTop?.husband"></app-family-diagram>
  </div>
</div>
