<div class="relative overflow-hidden h-screen w-screen">
  <div class="absolute top-4 left-6 shadow z-10 flex">
    <p-dropdown
      class="h-16 w-48"
      styleClass="border-0 h-full w-full items-center"
      [options]="familyTopsToDisplay"
      [(ngModel)]="selectedTop"
      placeholder="Familia seleccionada"
      emptyMessage="No se encontraron resultados"
      dataKey="id"
      optionLabel="familyName"
    ></p-dropdown>
    <div class="h-16 w-px bg-gray-100"></div>
    <p-autoComplete
      class="w-96"
      styleClass="h-16 w-full"
      inputStyleClass="h-full w-full border-0 rounded-none outline-none"
      [(ngModel)]="query"
      [suggestions]="filteredPeople"
      (completeMethod)="onSearch($event)"
      (onSelect)="onSelectPerson($event)"
      [showEmptyMessage]="true"
      emptyMessage="No se encontraron resultados"
      field="fullname"
      dataKey="id"
      placeholder="Pincha aquí para buscar"
    >
      <ng-template let-person pTemplate="item">
        <div class="flex justify-between">
          <div [innerHtml]="person.fullname | highlight: query"></div>
          <p class="text-right text-gray-300">F. {{ person.familyName }}</p>
        </div>
      </ng-template>
    </p-autoComplete>
    <div class="w-16 flex justify-center items-center bg-white">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="
          p-button-rounded p-button-plain p-button-text
          w-12
          h-12
          absolute
          right-4
        "
        (click)="onClearSearch()"
      ></button>
    </div>
  </div>
  <aside
    *ngIf="selectedTop"
    [ngClass]="{ '-right-1/4': !selectedPersonId }"
    class="absolute h-screen right-4 top-0 p-4 w-1/4 duration-300 z-10 flex"
  >
    <div class="shadow h-full bg-white w-full rounded">
      <router-outlet></router-outlet>
    </div>
  </aside>
  <div
    id="diagram-canvas"
    class="flex h-screen w-screen overflow-scroll p-24"
    *ngIf="selectedTop"
  >
    <app-family-diagram [personId]="selectedTop?.husband"></app-family-diagram>
  </div>
  <div
    class="
      flex
      h-screen
      w-screen
      overflow-auto
      p-24
      justify-center
      items-center
      justify-col
    "
  >
    <p>
      No se han encontrado familias que mostrar. Comienza
      <span>
        <button
          (click)="onSelectFile()"
          class="text-blue-800 hover:text-blue-500 duration-300"
        >
          importando un fichero aquí.
        </button>
        <input
          id="file-input"
          type="file"
          class="hidden"
          (change)="onFileSelected($event)"
        />
      </span>
    </p>
  </div>
</div>
