<div class="relative">
  <div class="p-4 flex flex-col border-b relative">
    <a
      [routerLink]="['../']"
      pButton
      pRipple
      type="button"
      icon="pi pi-times"
      class="
        p-button-rounded p-button-plain p-button-text
        w-12
        h-12
        absolute
        right-4
      "
    ></a>
    <div
      class="h-32 w-32 rounded"
      [ngStyle]="{
        'background-image': 'url(' + 'https://picsum.photos/200/300' + ')'
      }"
    ></div>
    <h2>{{ person?.name | titlecase }} {{ person?.surname | titlecase }}</h2>
  </div>
  <div class="p-4">
    <p>
      Nacimiento:
      {{ person?.birthDate || "-" | moment: "DD [de] MMMM [de] YYYY" }} (edad
      {{ personAge || "?" }})
    </p>
    <p>Lugar de nacimiento: {{ person?.birthPlace || "-" }}</p>
    <p>
      Padres:
      <span *ngFor="let person of parents; let i = index"
        >{{ i > 0 ? ", " : ""
        }}<a
          [routerLink]="['../', person.id]"
          class="text-blue-800 hover:text-blue-500 duration-300"
        >
          {{ (person | object: ["name", "surname"]) || "-" | titlecase }}
        </a>
      </span>
      <span *ngIf="!parents?.length"> - </span>
    </p>
    <p>
      Cónyuge:
      <span *ngFor="let person of partners; let i = index"
        >{{ i > 0 ? ", " : "" }}
        <a
          [routerLink]="['../', person.id]"
          class="text-blue-800 hover:text-blue-500 duration-300"
        >
          {{ (person | object: ["name", "surname"]) || "-" | titlecase }}
        </a>
      </span>
      <span *ngIf="!partners?.length"> - </span>
    </p>
    <p>
      Hijos:
      <span *ngFor="let person of children; let i = index"
        >{{ i > 0 ? ", " : "" }}
        <a
          [routerLink]="['../', person.id]"
          class="text-blue-800 hover:text-blue-500 duration-300"
        >
          {{ (person | object: ["name", "surname"]) || "-" | titlecase }}
        </a>
      </span>
      <span *ngIf="!children?.length"> - </span>
    </p>
    <p>
      Hermanos:
      <span *ngFor="let person of siblings; let i = index"
        >{{ i > 0 ? ", " : "" }}
        <a
          [routerLink]="['../', person.id]"
          class="text-blue-800 hover:text-blue-500 duration-300"
        >
          {{ (person | object: ["name", "surname"]) || "-" | titlecase }}
        </a>
      </span>
      <span *ngIf="!siblings?.length"> - </span>
    </p>
  </div>
</div>
