<div
  [id]="'person-card-' + person?.id"
  class="
    relative
    rounded
    w-48
    h-56
    flex flex-col
    justify-end
    cursor-pointer
    overflow-hidden
    shadow
    hover:shadow-md
    duration-300
  "
  pRipple
>
  <div
    class="h-3/5 w-full relative bg-cover bg-center"
    [ngStyle]="{
      'background-image': 'url(' + 'assets/images/avatar.png' + ')'
    }"
  >
    <div
      *ngIf="person?.dead"
      class="absolute top-0 left-0 h-full w-full opacity-50 bg-black"
    ></div>
  </div>
  <div class="h-2/5 p-2 text-center text-sm">
    <p>
      {{ person?.birthDate || "-" | moment }}
      {{ person?.dead ? "-" : "" }}
      {{ person?.dead ? (person?.deathDate || "?" | moment) : "" }}
    </p>
    <p>{{ person?.name | titlecase }} {{ person?.surname | titlecase }}</p>
  </div>
</div>
